<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/top/positive">View Top positive Reviews</a>
    <br>
    <a href="/top/negative">View Top negative Reviews</a>
    <br>
    <a href="/count">View Distribution of Review</a>
    <br>
    <a href="/static/positive.png">View positive Reviews WordCloud</a>
    <br>
    <a href="/static/negative.png">View negative Reviews WordCloud</a>
    <br>
    <a href="/static/neutral.png">View neutral Reviews WordCloud</a>
    <br>
    <a href="/download">Download Processed Dataset</a>
</body>

</html>